<h1>todas las pelis del g&eacute;nero <%= @genre %></h1>
ten&eacute;is <%= @movies.size %> pelis de este g&eacute;nero

<% form_tag :controller => 'pelis', :action => 'rename_genre', :id => @genre do -%>
  cambiar el g&eacute;nero de todas estas pelis a: <%= text_field_tag 'genre_renamed', @genre %>
<%= submit_tag 'cambiar' %>
<% end -%>


<%= render :partial => 'movies', :locals => {:movies => @movies} %>