

h1, h2, h3 {font-family: serif; font-weight: lighter; line-height: 0.8em; margin-top: 1em; margin-bottom: 0.3em;}

h1 { font-size: 400%; }

h2 {
    font-size: 200%;
    border-bottom: 1px solid #efefef;
}


a {color: black; text-decoration: none;}
a:hover {text-decoration: underline;}

.notes {
    font-size: 1.3em;
    background-color: red;
    color: black;
}


#top {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

#top img {
    border: 2px solid black;
}

#top .section {
    display: block;
    padding: 3px;
    width: 80px;
    float: left;
}

#top .section #carnet {
    display: block;
    width: 72px;
    height: 45px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 7px;
}

#top .section #dvd {
    display: block;
    width: 72px;
    height: 55px;
    border: 2px solid black;
    margin-left: 10px;
}

#top .section label {
    display: block;
    width: 76px;
    text-align: center;
}

#top .section input {
    border: 1px solid black;
    width: 76px;
}

#top #info {
    position: fixed;
    width: 600px;
    right: 10px;
    top: 10px;
    display: block;
    float: right;
    font-size: 2em;
    color: white;
    text-align: right;
}

#top #search_form {
    display: block;
    position: fixed;
    width: 300px;
    top: 62px;
    right: 10px;
}

#top #search_form input {
    width: 200px;
    border: 1px solid black;
}

#content {
    margin: 110px 10px 30px 10px;
    padding: 0px 20px;
    width: 65%;
}

#content #data {
    margin: 3px 0;
    padding: 5px;
    width: 511px;
    background-color: #FFFFCC;
}

#create_action label {font-weight: bold;}

#rent_action {margin-top: 2em;}

#info_panel input {margin-top: 0.5em;}
#info_panel .warning {color: white; background-color: #c00; font-size: 150%; padding: 0.1em;}
#bottom {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.pagination {margin: 0 0 1em 0;}
.pagination a { background-color: #efefef; padding: 2px;}
.pagination .current {font-weight: bold;}
.pagination .disabled {color: gray;}
.pagination .prev_page {background-color: white;}
.pagination .next_page {background-color: white;}
