
h1 {
    font-family: serif;
    font-weight: lighter;
    font-size: 4em;
    margin: 2em 0 1em 0;
}

h2 {
    display: block;
    width: 520px;
    font-family: serif;
    font-size: 2em;
    line-height: 0.9em;
    margin: 3em 0 1em 0;
    border-bottom: 1px solid #efefef;
}

h3 {
    font-weight: normal;
}

a {color: black; text-decoration: none;}
a:hover {text-decoration: underline;}

.notes {
    font-size: 1.3em;
    background-color: red;
    color: black;
}


#top {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

#top img {
    border: 2px solid black;
}

#top .section {
    display: block;
    padding: 3px;
    width: 80px;
    float: left;
}

#top .section #carnet {
    display: block;
    width: 72px;
    height: 45px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 7px;
}

#top .section #dvd {
    display: block;
    width: 72px;
    height: 55px;
    border: 2px solid black;
    margin-left: 10px;
}

#top .section label {
    display: block;
    width: 76px;
    text-align: center;
}

#top .section input {
    border: 1px solid black;
    width: 76px;
}

#top #info {
    position: fixed;
    width: 600px;
    right: 10px;
    top: 10px;
    display: block;
    float: right;
    font-size: 2em;
    color: white;
    text-align: right;
}

#top #search_form {
    display: block;
    position: fixed;
    width: 300px;
    top: 62px;
    right: 10px;
}

#top #search_form input {
    width: 200px;
    border: 1px solid black;
}

#content {
    margin: 100px auto;
    padding: 0px 20px;
    width: 800;
}

#content #data {
    margin: 3px 0;
    padding: 5px;
    width: 511px;
    background-color: #FFFFCC;
}

#content #info_panel #methods {
    display: block;
    float: right;
}
#content #info_panel a {
    text-decoration: none;
    color: black;
}
#content #info_panel a:hover {
    text-decoration: underline;
}

#bottom {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.pagination a { background-color: #efefef; padding: 2px;}
.pagination .current {font-weight: bold;}
.pagination .disabled {color: gray;}
.pagination .prev_page {background-color: white;}
.pagination .next_page {background-color: white;}
