<% for column in Rent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rent.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rent %> |
<%= link_to 'Back', :action => 'list' %>
