
<h1>(<%= @movie.number %>) <%= @movie.title %></h1>

<% if @movie.open_item  %>
  <div class="important">
    Esta película está alquilada por <%= link_to_member @movie.open_item.member %>
  </div>
<% end %>

<table>
  <tbody>
    <tr><td class="group" colspan="3">Personas que la alquilaron anteriormente</td></tr>
    <%= render :partial => 'movie_item', :collection => @movie.closed_items %>
  </tbody>
</table>