<h1>Socias y socios</h1>

<div class="actions">
  <%= link_to 'añadir socia o socio', {:action => 'editar_socio'}, :class => 'action orange' %>
</div>

<h2>Personas con películas en alquiler</h2>
<table>
  <tbody>
    <% @hide_movie = true %>
    <tr><td colspan="4" class="group">Alquilaron hoy</td></tr>
    <%= render :partial => 'item', :collection => RentItem.open_today.by_member %>
    <tr><td colspan="4" class="group">Deberían devolver hoy</td></tr>
    <%= render :partial => 'item', :collection => RentItem.waiting.by_member %>
    <tr><td colspan="4" class="group">Con retraso</td></tr>
    <%= render :partial => 'item', :collection => RentItem.delayed.by_member %>
  </tbody>
</table>