
<div id="search">

<%= link_to_function '', 
  "Effect.toggle ('members_search', 'slide')", 
  :id => 'members_search_label', :class => 'caption' %>
<div id="members_search" class="panel" style="display: none">
</div>

<%= link_to_function '', 
  "Effect.toggle ('movies_search', 'slide')", 
  :id => 'movies_search_label', :class => 'caption' %>
<div id="movies_search" class="panel" style="display: none">
</div>

</div>